<header>
<h1><%= @list.name %></h1>

  <%= form_for([@list, Item.new]) do |f| %>
    <%= f.check_box :status, checked: false %>
    <%= f.text_field :description, :placeholder => "Add an item..." %>
  <% end %>
</header>

<section>

  <ul>
    <%= form_for([@list, Item.create]) do |f| %>
    <li>
      <%= f.check_box :status, checked: false %>
      <%= f.text_field :description %>
    </li>
    <%end%>
  <label for="toggle-all">Mark all as complete</label>
  <ul id="todo-list">
    <%  @list.items.each do |item| %>
    <li><%= check_box_tag :status, 0, item.status %><%= item.description %></li>

    <%end%>
  </ul>
</section>
